{% block bsky_textareacountdown_style %}
<style>
	#form_bsky_textareacountdown_{{ id }} .form_bsky_textareacountdown_count {
		font-size: 10px;
	}
</style>
{% endblock %}

{% block bsky_textareacountdown_widget %}
	{{ block('bsky_textareacountdown_style') }}
	<div class="form_bsky_textareacountdown" id="form_bsky_textareacountdown_{{ id }}">
		{{ block('textarea_widget') }}
		<div class="form_bsky_textareacountdown_count"></div>
	</div>
	{{ block('bsky_textareacountdown_script') }}
{% endblock %}
	
{% block bsky_textareacountdown_script %}
<script>
//In the case where you load jQuery at the bottom of the page
//we wait for jQuery
(function() {
	var char_limit = parseInt({{ char_limit }});
	if (char_limit > 0) {
		var waitJQuery = function() {
			if (window.jQuery && jQuery.ui) {
				
				var el = jQuery('#{{ id }}'),
					count = jQuery('.form_bsky_textareacountdown_count', el.parent()),
					keyupEvent = function() {
						
						var ret = true;
						if (el.val().length > char_limit) {
							el.val(el.val().substring(0, char_limit));
							ret = false;
						}

						count.html(parseInt(el.val().length) + '/' + char_limit);

						return ret;
					};
				
				el.keyup(keyupEvent);
				keyupEvent();
			} else {
				window.setTimeout(waitJQuery, 1);
			}
		}
		waitJQuery();
	}
})();
</script>
{% endblock %}
